---
import { Icon } from "astro-icon/components";
import MagnetLines from "../ui/MagnetLines";

interface CardProps {
  title: string;
  description: string;
  image?: string;
  socials?: string[];
}
interface socialItem {
  icon: string;
  link: string;
}

const { title, description, image, socials } = Astro.props as CardProps;

const SocialLinks: Record<string, socialItem[]> = {
  linkedin: [
    {
      icon: "mdi:linkedin",
      link: "https://www.linkedin.com/in/vitor-oliveira-0a1b2b1a3/",
    },
  ],
  github: [{ icon: "", link: "" }],
};
---

<div
  class="flex min-w-5xl h-80 border border-border-muted bg-bg-surface rounded-lg shadow-lg"
>
  <div
    class="flex min-w-2/3 justify-around max-w-prose flex-col gap-4 p-4 border-blue"
  >
    <div class="flex flex-col gap-4">
      <h2 class="text-hero leading-tight font-bold font-display">{title}</h2>
      <p class="text-text-muted text-body">{description}</p>
    </div>
    {
      socials && (
        <div class="flex gap-2 mt-4">
          {socials.map((socialKey) => {
            const socialDataList = SocialLinks[socialKey];
            const socialItem = socialDataList && socialDataList[0];

            return socialItem && socialItem.link ? (
              <a
                target="_blank"
                class="flex-center gap-1 text-xs font-detail tracking-widest"
                href={socialItem.link}
              >
                <Icon name={socialItem.icon} class="w-5 h-5" />{" "}
                <span class="uppercase">{socialKey}</span>
              </a>
            ) : null;
          })}
        </div>
      )
    }
  </div>
  <div class="w-full h-full border-green">
    <!-- Terminal component -->
  </div>
</div>
